

<h1>NSA Agent HOME</h1>


<h3>Welcome: These are you assignments</h3>

<ul>
  
<li>Read celebrity emails</li>

<li>Spy on people in the shower</li>

<li>Bet on people's lives</li>

<li>Spy on Germany for some reason</li>

<li>Ask for a bigger budget because "terrorism!"</li>

</ul>

<%= link_to "Logout", logout_path, method: "delete", :class=>" marginbtn btn-danger btn-large" %>